# 주제 : 미국의 대통령은 어떻게 뽑힐까?
----------

## 실습 가이드
    1. 데이터를 다운로드하여 Colab에 불러옵니다.
    2. 필요한 라이브러리는 모두 코드로 작성되어 있습니다.
    3. 코드는 위에서부터 아래로 순서대로 실행합니다.
    
    
## 데이터 소개
    - 이번 주제는 US Election 2020 데이터셋을 사용합니다.
    
    - 총 11개의 파일 중 정보가 가장 많은 2개의 파일을 사용합니다.
    president_county_candidate.csv: 대통령 투표 결과
    governors_county_candidate.csv: 카운티 지사 투표 결과
    
    - 총 1개의 보조 데이터를 이용합니다.
    acs2017_county_data.csv: 카운티별 인구조사 데이터
    
    - 각 파일의 컬럼은 아래와 같습니다.
    state: 주
    county: 카운티(군)
    district: 지구
    candidate: 후보자
    party: 후보자의 소속 정당
    total_votes: 득표 수
    won: 지역 투표 우승 여부
    
    
    
- 데이터 출처: https://www.kaggle.com/unanimad/us-election-2020
- 보조 데이터: https://www.kaggle.com/muonneutrino/us-census-demographic-data

## 최종 목표
    - 보조 데이터셋을 이용하여 데이터셋 보강하는 방법 이해
    - plotly를 이용한 Choropleth 시각화 방법 이해
    - Regression과 Classification의 차이 이해

- 출제자 : 신제용 강사
---

## Step 0. 데이터에 관한 사전 배경 지식

### 미국의 선거 제도에 대하여

### 2020 미국 선거 데이터셋 설명

### 2017 미국 인구조사 데이터셋(보조 데이터셋) 설명

## Step 1. 데이터셋 준비하기

- geopandas :   벡터 데이터 작업을 위한 라이브러리(공간 데이터 처리에 유용하게 사용)
- pyshp : shape file을 다루기 위한 라이브러리
- shapely : 평면 형상 처리와 분석
- plotly-geo : 데이터 시각화 툴(=matplotlib)

In [1]:
!pip install geopandas
!pip install pyshp
!pip install shapely
!pip install plotly-geo

Collecting geopandas
  Downloading geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 5.3 MB/s
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 45.8 MB/s
Collecting fiona>=1.8
  Downloading Fiona-1.8.21-cp37-cp37m-manylinux2014_x86_64.whl (16.7 MB)
     |████████████████████████████████| 16.7 MB 41.0 MB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.1)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.4.0)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.10.8)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.21 geopandas-0.10.2 munch-2.5.0 pyproj-3.2.1
Collecting pyshp
  Downloading pyshp-2.2.0-py3-none-any.whl (44 kB)
     |████████████████████████████████| 44 kB 1.2 MB/s
Installing collected packages: pyshp
Successfully installed pyshp-2.2.0
Requirement already satisfied: shapely in /usr/local/lib/python3.7/dist-packages (1.8.1)
Collecting plotly-geo
  Downloading plotly_geo-1.0.0-py3-none-any.whl (23.7 MB)
     |████████████████████████████████| 23.7 MB 1.6 MB/s
Installing collected packages: plotly-geo
Successfully installed plotly-geo-1.0.0

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### 문제 1. Colab Notebook에 Kaggle API 세팅하기

In [3]:
import os

In [4]:
# os.environ을 이용하여 Kaggle API Username, Key 세팅하기
os.environ['KAGGLE_USERNAME'] = 'puddinghong'

### 문제 2. 데이터 다운로드 및 압축 해제하기

In [5]:
# Linux 명령어로 Kaggle API를 이용하여 데이터셋 다운로드하기 (!kaggle ~)
# Linux 명령어로 압축 해제하기
!kaggle datasets download -d unanimad/us-election-2020
!kaggle datasets download -d muonneutrino/us-census-demographic-data
!unzip '*.zip'

Downloading us-election-2020.zip to /content
  0% 0.00/429k [00:00<?, ?B/s]
100% 429k/429k [00:00<00:00, 6.73MB/s]
Downloading us-census-demographic-data.zip to /content
 57% 6.00M/10.6M [00:00<00:00, 58.2MB/s]
100% 10.6M/10.6M [00:00<00:00, 49.1MB/s]
Archive:  us-census-demographic-data.zip
  inflating: acs2015_census_tract_data.csv
  inflating: acs2015_county_data.csv
  inflating: acs2017_census_tract_data.csv
  inflating: acs2017_county_data.csv

Archive:  us-election-2020.zip
  inflating: governors_county.csv
  inflating: governors_county_candidate.csv
  inflating: governors_state.csv
  inflating: house_candidate.csv
  inflating: house_state.csv
  inflating: president_county.csv
  inflating: president_county_candidate.csv
  inflating: president_state.csv
  inflating: senate_county.csv
  inflating: senate_county_candidate.csv
  inflating: senate_state.csv

2 archives were successfully processed.

### 문제 3. Pandas 라이브러리로 csv파일 읽어들이기

In [47]:
# from US Election 2020
df_pres = pd.read_csv('president_county_candidate.csv')
df_gov = pd.read_csv('governors_county_candidate.csv')

# from US Census 2017
df_census = pd.read_csv('acs2017_county_data.csv')

- pd.read_html('url')[index] :  html페이지에 < table >tag 로 구성된 부분을 가져와 표로 만들어진 목록을 만들어줌   
- 아래 html에는 표가 두 개 있으므로 첫 번째 표를 가져오기 위해 [0]으로 인덱스 번호 지정함

In [13]:
# State Code 관련 부가 자료
state_code = pd.read_html('https://www.infoplease.com/us/postal-information/state-abbreviations-and-state-postal-codes')[0]

![image.png]()

## Step 2. EDA 및 데이터 기초 통계 분석

### 문제 4. 각 데이터프레임 구조 및 기초 통계 확인하기

In [51]:
# DataFrame에서 제공하는 메소드를 이용하여 각 데이터프레임의 구조 분석하기 (head(), info(), describe())
df_pres.head()

      state             county      candidate party  total_votes    won
0  Delaware        Kent County      Joe Biden   DEM        44552   True
1  Delaware        Kent County   Donald Trump   REP        41009  False
2  Delaware        Kent County   Jo Jorgensen   LIB         1044  False
3  Delaware        Kent County  Howie Hawkins   GRN          420  False
4  Delaware  New Castle County      Joe Biden   DEM       195034   True

- DEM : 민주당(바이든)   
- REP : 공화당(트럼프)

In [15]:
# 후보자 확인
# Write_ins는 사람 아님
df_pres['candidate'].unique()

array(['Joe Biden', 'Donald Trump', 'Jo Jorgensen', 'Howie Hawkins',
       ' Write-ins', 'Gloria La Riva', 'Brock Pierce',
       'Rocky De La Fuente', 'Don Blankenship', 'Kanye West',
       'Brian Carroll', 'Ricki Sue King', 'Jade Simmons',
       'President Boddie', 'Bill Hammons', 'Tom Hoefling',
       'Alyson Kennedy', 'Jerome Segal', 'Phil Collins',
       ' None of these candidates', 'Sheila Samm Tittle', 'Dario Hunter',
       'Joe McHugh', 'Christopher LaFontaine', 'Keith McCormic',
       'Brooke Paige', 'Gary Swing', 'Richard Duncan', 'Blake Huber',
       'Kyle Kopitke', 'Zachary Scalf', 'Jesse Ventura', 'Connie Gammon',
       'John Richard Myers', 'Mark Charles', 'Princess Jacob-Fambro',
       'Joseph Kishore', 'Jordan Scott'], dtype=object)

In [16]:
# 투표수 확인
df_pres.loc[df_pres['candidate']=='Kanye West']['total_votes'].sum()

66367

In [17]:
df_gov.head()

      state             county        candidate party   votes    won
0  Delaware        Kent County      John Carney   DEM   44352   True
1  Delaware        Kent County  Julianne Murray   REP   39332  False
2  Delaware        Kent County  Kathy DeMatteis   IPD    1115  False
3  Delaware        Kent County    John Machurek   LIB     616  False
4  Delaware  New Castle County      John Carney   DEM  191678   True

In [18]:
df_census.head()

   CountyId    State          County  ...  SelfEmployed  FamilyWork  Unemployment
0      1001  Alabama  Autauga County  ...           5.6         0.1           5.2
1      1003  Alabama  Baldwin County  ...           6.3         0.1           5.5
2      1005  Alabama  Barbour County  ...           6.5         0.3          12.4
3      1007  Alabama     Bibb County  ...           6.3         0.3           8.2
4      1009  Alabama   Blount County  ...           4.0         0.1           4.9

[5 rows x 37 columns]

- TotalPop, Men, Women은 실제 수로 기입하여 덧셈 가능   
- Hispanic등 데이터가 소수점인 컬럼은 퍼센트이므로 단순히 더하면 안 됨

In [ ]:
df_census['County'].value_counts()

Los Angeles County    2346
Cook County           1326
Orange County          939
Maricopa County        916
Montgomery County      833
                      ...
Real County              1
Hitchcock County         1
Reagan County            1
Hooker County            1
Cochran County           1
Name: County, Length: 1955, dtype: int64

큰 county는 잘게 쪼개서 투표함을 알 수 있다.   
ex) LA는 2346개, Hitchcock는 1개

In [ ]:
state_code.head()

  State Name/District Postal Abbreviation Postal Code
0             Alabama                Ala.          AL
1              Alaska              Alaska          AK
2             Arizona               Ariz.          AZ
3            Arkansas                Ark.          AR
4          California              Calif.          CA

### 문제 5. County 별 통계로 데이터프레임 구조 변경하기

In [19]:
# 모든 데이터프레임의 index를 County로 변경하기

In [22]:
# df_pres에서 관심있는 정당(DEM, REP) 제외하고 제거할 예정
# 관심 정당이면 true, 아니면 false 값을 줌
df_pres['party'].apply(lambda s: str(s) in ['DEM', 'REP'])

0         True
1         True
2        False
3        False
4         True
         ...
32172    False
32173     True
32174     True
32175    False
32176    False
Name: party, Length: 32177, dtype: bool

In [52]:
# true만 출력
data = df_pres.loc[df_pres['party'].apply(lambda s: str(s) in ['DEM', 'REP'])]

pd.pivot_table(data, values, index, columns, aggfunc=함수)    
 
 - data : 데이터 프레임   
 - values : 분석할 열
 - index   
 - columns   
 - aggfunc : 집계 함수

In [53]:
table_pres = pd.pivot_table(data = data, index=['state', 'county'], columns = 'party', values ='total_votes')
table_pres.rename({'DEM':'Press_Dem',  'REP':'Press_Rep'}, axis = 1, inplace = True)
table_pres

party                      Press_Dem  Press_Rep
state   county
Alabama Autauga County          7503      19838
        Baldwin County         24578      83544
        Barbour County          4816       5622
        Bibb County             1986       7525
        Blount County           2640      24711
...                              ...        ...
Wyoming Sweetwater County       3823      12229
        Teton County            9848       4341
        Uinta County            1591       7496
        Washakie County          651       3245
        Weston County            360       3107

[4633 rows x 2 columns]

자료 수정 후에는 항상 결측치를 확인해야 한다.

In [32]:
table_pres.isna().sum()

party
DEM    0
REP    0
dtype: int64

In [54]:
data = df_gov.loc[df_gov['party'].apply(lambda s: str(s) in ['DEM', 'REP'])]
table_gov = pd.pivot_table(data = data, index=['state', 'county'], columns = 'party', values ='votes')
table_gov.rename({'DEM':'Gov_Dem',  'REP':'Gov_Rep'}, axis = 1, inplace = True)

print(table_gov)
print(table_gov.isna().sum())

party                            Gov_Dem  Gov_Rep
state         county
Delaware      Kent County          44352    39332
              New Castle County   191678    82545
              Sussex County        56873    68435
Indiana       Adams County          2143     9441
              Allen County         53895    98406
...                                  ...      ...
West Virginia Webster County         659     2552
              Wetzel County         1727     4559
              Wirt County            483     1947
              Wood County           9933    26232
              Wyoming County        1240     6941

[1025 rows x 2 columns]
party
Gov_Dem    0
Gov_Rep    0
dtype: int64

In [44]:
df_census.head()

   CountyId    State          County  ...  SelfEmployed  FamilyWork  Unemployment
0      1001  Alabama  Autauga County  ...           5.6         0.1           5.2
1      1003  Alabama  Baldwin County  ...           6.3         0.1           5.5
2      1005  Alabama  Barbour County  ...           6.5         0.3          12.4
3      1007  Alabama     Bibb County  ...           6.3         0.3           8.2
4      1009  Alabama   Blount County  ...           4.0         0.1           4.9

[5 rows x 37 columns]

df_census는 이미 state와 county로 나눠져있어 피벗테이블 생성하지 않아도 된다.   
대신 이전 데이터 프레임들과 컬럼 명을 맞춰야 해서 state와 county를 모두 소문자로 바꿔준다.

In [48]:
df_census.rename({'State':'state', 'County':'county'}, axis = 1, inplace = True)
df_census.drop('CountyId', axis = 1, inplace = True)
df_census.set_index(['state', 'county'], inplace = True)
df_census.head()

                        TotalPop    Men  ...  FamilyWork  Unemployment
state   county                           ...
Alabama Autauga County     55036  26899  ...         0.1           5.2
        Baldwin County    203360  99527  ...         0.1           5.5
        Barbour County     26201  13976  ...         0.3          12.4
        Bibb County        22580  12251  ...         0.3           8.2
        Blount County      57667  28490  ...         0.1           4.9

[5 rows x 34 columns]

In [55]:
# 불필요한 컬럼 드랍
df_census.columns

Index(['TotalPop', 'Men', 'Women', 'Hispanic', 'White', 'Black', 'Native',
       'Asian', 'Pacific', 'VotingAgeCitizen', 'Income', 'IncomeErr',
       'IncomePerCap', 'IncomePerCapErr', 'Poverty', 'ChildPoverty',
       'Professional', 'Service', 'Office', 'Construction', 'Production',
       'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp', 'WorkAtHome',
       'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork', 'SelfEmployed',
       'FamilyWork', 'Unemployment'],
      dtype='object')

In [ ]:
df_census.drop(['Income','IncomePerCapErr', 'IncomeErr'], axis = 1, inplace = True)

men, women은 total pop으로 나눠야 함   
사람 수가 많으면 men, women이 많으므로 멀티 코~ 생길 수 있음   
성비 형태로 바꾸는 것이 나음   
voting age citizen과 employed도 해당

In [57]:
df_census.drop('Women', axis = 1, inplace = True)

/=  가 뭘까...

In [76]:
test = [{'a' : 1, 'b' : 2}, {'a' : 2, 'b' : 2}]
df_test = pd.DataFrame (data = test)
df_test

   a  b
0  1  2
1  2  2

In [74]:
test1 = df_test['a'] / df_test['b']
test1

0    0.5
1    1.0
dtype: float64

In [75]:
# 왜 틀렸지
test2 = df_test['a'] /= df_test['b']
test2

SyntaxError: ignored

In [59]:
df_census['Men'] /= df_census['TotalPop']

In [60]:
df_census['VotingAgeCitizen'] /= df_census['TotalPop']

In [61]:
df_census['Employed'] /= df_census['TotalPop']

In [62]:
# Men, VotingAgeCitizen, Employed 확인
df_census.head()

                        TotalPop       Men  ...  FamilyWork  Unemployment
state   county                              ...
Alabama Autauga County     55036  0.488753  ...         0.1           5.2
        Baldwin County    203360  0.489413  ...         0.1           5.5
        Barbour County     26201  0.533415  ...         0.3          12.4
        Bibb County        22580  0.542560  ...         0.3           8.2
        Blount County      57667  0.494043  ...         0.1           4.9

[5 rows x 33 columns]

### 문제 6. 여러 데이터프레임을 하나의 데이터프레임으로 결합하기

In [65]:
# df_pres, df_gov, df_census 데이터프레임을 하나로 결합하기
df = pd.concat([table_pres, table_gov, df_census], axis = 1)
df

                           Press_Dem  Press_Rep  ...  FamilyWork  Unemployment
state   county                                   ...
Alabama Autauga County        7503.0    19838.0  ...         0.1           5.2
        Baldwin County       24578.0    83544.0  ...         0.1           5.5
        Barbour County        4816.0     5622.0  ...         0.3          12.4
        Bibb County           1986.0     7525.0  ...         0.3           8.2
        Blount County         2640.0    24711.0  ...         0.1           4.9
...                              ...        ...  ...         ...           ...
Wyoming Sweetwater County     3823.0    12229.0  ...         0.0           5.2
        Teton County          9848.0     4341.0  ...         0.0           1.3
        Uinta County          1591.0     7496.0  ...         0.4           6.4
        Washakie County        651.0     3245.0  ...         0.2           6.1
        Weston County          360.0     3107.0  ...         1.1           2.2

[4809 rows x 37 columns]

### 문제 7. 컬럼간의 Correlation을 Heatmap으로 표현하기

In [ ]:
# DataFrame의 corr() 메소드와 Seaborn의 heatmap() 메소드를 이용하여 Pearson's correlation 시각화하기

### 문제 8. Seaborn을 이용하여 연관성 높은 데이터의 Jointplot 확인

## Step 3. Plotly를 이용하여 데이터 시각화하기

### 문제 9. Plotly의 Choropleth 데이터 포맷으로 맞추기

In [ ]:
import plotly.figure_factory as ff

# FIPS 코드 불러오기
df_sample = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/laucnty16.csv')
df_sample['State FIPS Code'] = df_sample['State FIPS Code'].apply(lambda x: str(x).zfill(2))
df_sample['County FIPS Code'] = df_sample['County FIPS Code'].apply(lambda x: str(x).zfill(3))
df_sample['FIPS'] = df_sample['State FIPS Code'] + df_sample['County FIPS Code']

# Color Scale 세팅
colorscale = ["#f7fbff","#ebf3fb","#deebf7","#d2e3f3","#c6dbef","#b3d2e9","#9ecae1",
              "#85bcdb","#6baed6","#57a0ce","#4292c6","#3082be","#2171b5","#1361a9",
              "#08519c","#0b4083","#08306b"]

In [ ]:
# ff.create_choropleth()에서 사용할 수 있도록 데이터프레임 정리하기
# Hint) 공식 레퍼런스 참조: https://plotly.com/python/county-choropleth/#the-entire-usa

### 문제 10. Choropleth map 시각화하기

In [ ]:
# ff.create_choropleth() 메소드를 이용하여 Choropleth 플랏하기
# Hint) 공식 레퍼런스 참조: https://plotly.com/python/county-choropleth/#the-entire-usa

fig = ff.create_choropleth(...)



fig.layout.template = None
fig.show()

## Step 4. 모델 학습을 위한 데이터 전처리

### 문제 11. 학습을 위한 데이터프레임 구성하기

In [ ]:
# 투표 결과에 해당하는 데이터는 입력 데이터에서 제거한다.
# 예측 타겟은 DEM vs. REP 투표 비율로 한다.

X =
y =

### 문제 12. StandardScaler를 이용해 수치형 데이터 표준화하기

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
# StandardScaler를 이용해 수치형 데이터를 표준화하기
scaler =
X =

### 문제 13. 학습데이터와 테스트데이터 분리하기

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
# train_test_split() 함수로 학습 데이터와 테스트 데이터 분리하기
X_train, X_test, y_train, y_test =

### 문제 14. PCA를 이용해 데이터 전처리 수행하기

In [ ]:
from sklearn.decomposition import PCA

In [ ]:
# PCA를 이용해 Dimensionality Reduction 수행하기
pca =

## Step 4. Regression 모델 학습하기

### 문제 15. LightGBM Regression 모델 학습하기

In [ ]:
from lightgbm import LGBMRegressor

In [ ]:
# XGBRegressor 모델 생성/학습. Feature에 PCA 적용하기
model_reg =

### 문제 16. Regression 모델 정확도 출력하기

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.metrics import classification_report
from math import sqrt

In [ ]:
# Predict를 수행하고 mean_absolute_error, mean_squared_error, classification_report 결과 출력하기
pred =

## Step 5. Classification 모델 학습하기

### 문제 17. XGBoost 모델 생성/학습하기

In [ ]:
from xgboost import XGBClassifier

In [ ]:
# XGBClassifier 모델 생성/학습
model_cls =

### 문제 18. Classifier의 Feature Importance 시각화하기

In [ ]:
# XGBClassifier 모델의 feature_importances_ 속성 시각화

### 문제 19. Classifier 모델 정확도 출력하기

In [ ]:
# Predict를 수행하고 classification_report() 결과 출력하기
pred =